
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      color:#3e363f;
      padding-top: 70px;
    }
    
    nav {
      position: fixed;
      top: 0%;
      left: 0%;
      width: 100%;
      background-color: #fff;
      box-shadow: 0 0 5px rgba(0, 0, 0,0.1);
    } 

    .menu-item { 
      text-decoration: none;
      color: #333;
      padding: 10px;
      display: inline-block;
    }
    
    .menu-item:hover {
      background-color: #ddd;
      transition: all 0,4s ease-in-out;
    }

    header {
      background-color: #333;
      color:#fff;
      text-align: center;
      padding: 20px;
      margin-bottom: 20px
    }

    section {
      padding: 20px;
      border: 1px solid #ddd;
      margin-bottom: 20px;
    }

    #acerca-de-mi{
      text-align: justify;
    }
    
    #Habilidades ol{ 
      list-style: none;
      padding: 0%;
    }

    #Habilidades ol li{
      display: inline-block; 
      padding: 5px;
      border: 1px solid #ddd;
      border-radius: 5px;
      margin-right: 10px;
    } 

    #experiencia ul {
      list-style: none;
      padding: 0;
      margin: 0;
  }
  
  #experiencia ul li {
      margin-bottom: 10px;
  }
  
  #experiencia ul li strong {
      font-weight: bold;
  }

  #proyectos ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#proyectos ul li {
    margin-bottom: 10px;
}

#proyectos ul li a {
    text-decoration: none;
    color: #333;
}

#proyectos ul li a:hover {
    text-decoration: underline;
}

#contacto form {
  margin: 0 auto;
  width: 500px;
}

#contacto form input,
#contacto form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

#contacto form textarea {
  height: 100px;
}

#contacto form input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.menu-fijo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}

.menu-fijo.fijo {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.animacion-titulo {
  animation: aparecer 3s ease-in-out;
}

@keyframes aparecer {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}



    /*
    selector de etiqueta: h1{}
    selector de clase: .clase{}
    selector de ID:  #id {}
    /*
      