
    p {
      color:rgba(255, 0, 0, 0.692);
      background-color:aqua;
       }

    section {
      color: rgb(23, 37, 129);
      border: 2px red solid;
      margin: 20px;
      padding: 20px;
    }  
  
      