
    p {
      color:rgba(255, 0, 0, 0.692);
      background-color:aqua;
       }

    section {
      color: rgb(23, 37, 129);
      border: 2px red solid;
      margin: 20px;
      padding: 20px;
    }  

    #experiencia ul {
      list-style: none;
      padding: 0;
      margin: 0;
  }
  
  #experiencia ul li {
      margin-bottom: 10px;
  }
  
  #experiencia ul li strong {
      font-weight: bold;
  }

  #proyectos ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#proyectos ul li {
    margin-bottom: 10px;
}

#proyectos ul li a {
    text-decoration: none;
    color: #333;
}

#proyectos ul li a:hover {
    text-decoration: underline;
}

#contacto form {
  margin: 0 auto;
  width: 500px;
}

#contacto form input,
#contacto form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

#contacto form textarea {
  height: 100px;
}

#contacto form input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.menu-fijo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}

.menu-fijo.fijo {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.animacion-titulo {
  animation: aparecer 3s ease-in-out;
}

@keyframes aparecer {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}
  
      
